GtkButton {
  outline-width: 0;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  box-shadow: inset 0 0, 0 0;
}

* {
    -gtk-image-effect: none;
}

GtkWindow {
    background: #000;/*#6baadd;*/
}

.scene-backdrop {
    background-color: #6baadd;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Bariol';
}

.modal {
  background-color: rgba(0, 0, 0, 0.7);
}

.click_label {
    font: Bariol bold 25px;
    color: #ffffff;
}

GtkLabel:insensitive {
    background: transparent;
}
