Source: kano-init-flow
Maintainer: Team Kano <dev@kano.me>
Section: x11
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>=9.0.0)

Package: kano-init-flow
Architecture: all
Depends: ${misc:Depends}, gir1.2-gtk-3.0, kano-toolset (>=1.2-2),
         kano-profile (>=1.2-2), kano-settings (>=1.2.2-1), kano-desktop
Description: Kanux initial boot
