.character_window {
    color: #ffffff;
    background: #ffffff;
}

.taskbar {
    background: #ffffff;
}

.taskbar_button {
    padding: 0px;
    margin: 0px;
}

.time {
    font: Bariol 15px;
    color: #000;
}

.black {
    background: #000000;
}
